@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>
        Welcome to the RIT iSchool website!
    </h1>

    <b>Select from the navigation menu to view our course offerings, alumni employment data, and more!</b>
</div>
